<?xml version="1.0"?>

<config>
	<modules>
		<Zou_Alipay>
			<version>1.0.4</version>
		</Zou_Alipay>
	</modules>

	<global>
		<fieldsets>
			<sales_convert_quote_payment>
				<alipay_type>
                    <to_order_payment>*</to_order_payment>
                </alipay_type>
			</sales_convert_quote_payment>
		</fieldsets>
		<models>
			<alipay>
				<class>Zou_Alipay_Model</class>
				<resourceModel>alipay_mysql4</resourceModel>
			</alipay>
			<alipay_mysql4>
	           <class>Zou_Alipay_Model_Resource_Mysql4</class>
	           <entities>
	               <refund>
	                   <table>alipay_refunds</table>
	               </refund>
	           </entities>
	        </alipay_mysql4>
		</models>

		<blocks>
			<alipay>
				<class>Zou_Alipay_Block</class>
			</alipay>
		</blocks>

		<resources>
			<alipay_setup>
				<setup>
					<module>Zou_Alipay</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</alipay_setup>
			<alipay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</alipay_write>
			<alipay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</alipay_read>
		</resources>
		<helpers>
			<alipay>
				<class>Zou_Alipay_Helper</class>
			</alipay>
		</helpers>
		<events>
			<sales_model_service_quote_submit_success>
				<observers>
					<alipay_sales_model_service_quote_submit_success>
							<type>singleton</type>
							<class>Zou_Alipay_Model_Observer</class>
							<method>sales_model_service_quote_submit_success</method>
					</alipay_sales_model_service_quote_submit_success>
				</observers>
			</sales_model_service_quote_submit_success>
		</events>
	</global>


	<frontend>
		<routers>
			<alipay>
				<use>standard</use>
				<args>
					<module>Zou_Alipay</module>
					<frontName>alipay</frontName>
				</args>
			</alipay>
		</routers>
		<translate>
			<modules>
				<Zou_Alipay>
					<files>
						<default>Zou_Alipay.csv</default>
					</files>
				</Zou_Alipay>
			</modules>
		</translate>
		<layout>
            <updates>
                <alipay>
                    <file>zou/alipay.xml</file>
                </alipay>
            </updates>
        </layout>
	</frontend>
	<admin>
        <routers>
            <alipay>
                <use>admin</use>
                <args>
                    <module>Zou_Alipay</module>
                    <frontName>alipay</frontName>
                </args>
            </alipay>
        </routers>
    </admin>

	<adminhtml>
		<menu>
			<alipay module="alipay">
				<title>Alipay</title>
				<sort_order>80</sort_order>
				<children>
					<list module="alipay">
						<title>Alipay Refund List</title>
						<sort_order>0</sort_order>
						<action>alipay/adminhtml_refund</action>
					</list>
				</children>
			</alipay>
		</menu>
        <acl>
            <resources>
                <admin>
                    <children>
                    	<alipay module="alipay">
							<title>Alipay</title>
							<sort_order>103</sort_order>
							<children>
								<list module="alipay">
									<title>Alipay Refund List</title>
									<sort_order>0</sort_order>
								</list>
							</children>
						</alipay>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <alipay>
                                            <title>Alipay</title>
                                        </alipay>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<translate>
			<modules>
				<Zou_Alipay>
					<files>
						<default>Zou_Alipay.csv</default>
					</files>
				</Zou_Alipay>
			</modules>
		</translate>
		<layout>
            <updates>
                <alipay>
                    <file>zou/alipay.xml</file>
                </alipay>
            </updates>
        </layout>
	</adminhtml>

	<default>
		<payment>
			<alipay>
				<active>0</active>
				<model>alipay/pay</model>
				<payment_action>authorize</payment_action>
				<title>支付宝支付</title>
				<order_status>pending</order_status>
				<description>You will be redirected to ali payment when you place an order.</description>
				<sort_order>0</sort_order>
			</alipay>
		</payment>
	</default>
</config>
